<div class="carousel_container wrapper">
  <div class="carousel">  
    {% for item in site.data.logos %}
    <div class="item">
      <a href="#" id="lead_whatsapp" title="WhatsApp de Turbo Diesel de Colombia" rel="nofollow noopener noreferrer" target="_blank">
        <img src="{{item.img|relative_url}}" loading="lazy" alt="{{item.alt}}" width="64" height="64">
      </a>
    </div>
    {% endfor %}
    {% for item in site.data.logos %}
    <div class="item">
      <a href="#" id="lead_whatsapp" title="WhatsApp de Turbo Diesel de Colombia" rel="nofollow noopener noreferrer" target="_blank">
        <img src="{{item.img|relative_url}}" loading="lazy" alt="{{item.alt}}" width="64" height="64">
      </a>
    </div>
    {% endfor %}
  </div> 
</div>