<aside class="bloques wrapper">
  <div class="bloque_big bg">
    <h2>Protegemos tu empresa de falsificaciones y pérdidas con stickers de seguridad y de trazabilidad</h2>
    <p>Ponemos toda nuestra experiencia al servicio de tus activos y su seguridad.</p>
    <p><b>Recuerda:</b></p>
    <p>Disponemos de nuestros asesores para ti gratis. ¡Sí, gratis! No nos cuesta <strong>recomendarte la mejor solución para tus problemas de seguridad y trazabilidad de mercancía</strong>.</p>
    <p class="resaltar">Pero a ti te puede costar mucho dinero.</p>
    <h4>Asesórate con Holographic y obtén la seguridad y control que necesitas. ¡Escríbenos!</h4>
    </div>
    <div class="bloque_big bg_marca">
      <img src="{{'img/proteccion-mercancia.webp'|relative_url}}" alt="Equipo de Holographic S.A.S." loading="lazy">
      <a href="{{site.whatsapp}}" class="boton boton_1" rel="nofollow noreferrer noopener" id="lead_whatsapp" title="Pide tus etiquetas de seguridad">Asesórate gratis</a>
      <a href="tel:{{site.telefono}}" title="Teléfono Holographic S.A.S." id="lead_whatsapp" class="boton boton_1" rel="nofollow noreferrer noopener" >Llama: {{site.telefono}}</a>
  </div>
</aside>