<nav>
  <input id="nav-toggle" type="checkbox">
  <a href="{{site.baseurl}}/" title="Inicio" class="inicio">
    <img src="{{'img/logo-mini.avif'|relative_url}}" alt="Conexion total enigma" height="40" width="41" title="Página de inicio de conexion total enigma"> <span>Conexion TOTAL Enigma<span class="resaltar">GD</span></span>
  </a>
    
  <ul class="navegacion">
    <li class="dropdown">
      <span>Home</span>
      <div class="dropdown-content">
        <a href="{{'servicios/mantenimiento'|relative_url}}" title="Mantenimiento Conexion Total Enigma">Mantenimientos</a>
        <a href="{{'servicios/reparacion'|relative_url}}" title="Reparación Conexion Total Enigma">Reparación</a>
        <a href="{{'servicios/diagnostico'|relative_url}}" title="Diagnóstico Conexion Total Enigma">Diagnóstico</a>
        <a href="{{'servicios'|relative_url}}" title="Servicios Conexion Total Enigma">Ver Más...</a>
      </div>
    </li>
    <li class="dropdown">
      <span>Company</span>
      <div class="dropdown-content">
        <a href="{{'servicios/mantenimiento-redes-empresas'|relative_url}}" title="Mantenimiento de Conexion total enigma para grandes redes">Mantenimiento de empresas</a>
        <a href="{{'servicios/capacitacion-para-empresas'|relative_url}}" title="Mantenimiento Conexion Total Enigma">Servicio para empresas</a>
        <a href="{{'servicios/soporte-para-tecnicos-y-ingenieros'|relative_url}}" title="Asistencia técnica Conexion Total Enigma">Asistencia a empresas</a>
      </div>
    </li>
    <li class="dropdown">
      <span>It soluctions</span>
      <div class="dropdown-content">
        <a href="{{'blog'|relative_url}}" title="Blog Conexion total enigma">Blog</a>
        <a href="{{'preguntas-frecuentes'|relative_url}}" title="Preguntas de los clientes Conexion total enigma">Preguntas frecuentes</a>
        <a href="{{'servicios/mantenimiento'|relative_url}}" title="Recursos gratis Conexion total enigma">Recursos gratuitos</a>
      </div>
    </li>
    <li class="dropdown">
      <span>Elements</span>
      <div class="dropdown-content">
        <a href="{{'quienes-somos'|relative_url}}" title="Sobre Conexion total enigma">Quiénes somos</a>
        <a href="{{'contacto'|relative_url}}" title="Contacta con Conexion total enigma">Contacto</a>
      </div>
    </li>
    <li class="dropdown">
      <span>Case Studies</span>
      <div class="dropdown-content">
        <a href="{{'quienes-somos'|relative_url}}" title="Sobre Conexion total enigma">Quiénes somos</a>
        <a href="{{'contacto'|relative_url}}" title="Contacta Conexion total enigma">Contacto</a>
      </div>
    </li>
    <li class="dropdown">
      <span>Blog</span>
      <div class="dropdown-content">
        <a href="{{'quienes-somos'|relative_url}}" title="Sobre Conexion total enigma">Quiénes somos</a>
        <a href="{{'contacto'|relative_url}}" title="Contacta con Conexion total enigma">Contacto</a>
      </div>
    </li>
  </ul>
  <label for="nav-toggle" class="icono-nav">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>
