<div class="gallery-slider">
  <span id="left" class="next">
    <img src="{{'img/prev-black.svg' | relative_url }}" alt="Prev button" width="32" height="32">
  </span>
  <div class="slide-container">
    {% for data in page.fotos %}
    {% for item in data %}
    <figure>
      <img src="{{item[1] | relative_url}}" alt="Fotos de {{item[0]}}" title="Testimonio de los servicios de Turbo Diesel GD" loading="lazy" width="490" height="265">
    </figure>
    {% endfor %}
    {% endfor %}
  </div>
  <span id="right" class="prev">
    <img src="{{'img/next-black.svg' | relative_url }}" alt="Next button" width="32" height="32">
  </span>
</div>
