<section class="wrapper">
  <div class="bloques">
    <div class="flow bloque_big bg">
      <h2>Desde Holographic ayudamos a proteger las empresas del Ecuador</h2>
      <img src="{{'img/holographic-quito.webp'|relative_url}}" alt="Holographic en Quito" loading="lazy" width="600">
      <a href="{{site.whatsapp}}" class="boton boton_1" rel="nofollow noopener noreferrer" id="lead_whatsapp" target="_blank">Asesórate gratis</a>
      <a href="tel:{{site.telefono}}" title="Teléfono Holographic" rel="nofollow noopener noreferrer" id="lead_whatsapp" class="boton boton_1">{{site.telefono}}</a>
    </div>
    <div class="bloque_big bg_marca">
      <h3>Holographic en Quito Ecuador</h3>
      <p>Protegemos los productos y activos de nuestros clientes con etiquetas holográficas. Utilizamos altos niveles de seguridad antifalsificación. ¡Conócelos hoy!</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.794248334761!2d-78.49672162432049!3d-0.19902949979900994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59b813e7e6dcf%3A0x38bac4b8f2519777!2sGRUPO%208%20EC!5e0!3m2!1ses-419!2sco!4v1719922678193!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>