.carousel_container {
  padding: 4em 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel {
  display: flex;
  width: calc(424px * 6);
  justify-content: center;
}

.carousel .item {
  width: 424px;
  padding: 1rem;
  display: grid;
  place-items: center;
}
.carousel .item img {
  width: 180px;
  height: auto;
  border-radius: var(--radius);
  aspect-ratio: 1/1;
}
