.catalogo{
  display: flex;
  flex-direction: column;
  gap: 1em;

  & h2{
    text-align: center;
    margin: 3em auto 1em;
  }

  & .home_gallery{
    padding-top: 0;
    border: none;
  }

  & .logo{
    width: min(100%, 360px);
    margin: 2em auto;
  }

}


