.beneficios{
  display: grid;
  place-items: center;
  margin-bottom: 4em;

  ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding: 4em 0;

    li{
      margin: 0;
      display: grid;
      place-items: center;
      gap: 12px;

      img{
        box-shadow: var(--shadow);
      }

      h3{
        font-size: clamp(1.25rem, 2vw, 1.75rem);
        margin: 0;
        width: 320px;
        text-align: center;
        box-shadow: var(--shadow);
        padding: 12px;
        background-color: #ffffff;
      }
      
      p{
        text-align: center;
        max-width: 320px;
      }
    }
  }
}

.servicios{
  background-color: var(--gris1);
  box-shadow: 0 0 0 100vmax var(--gris1);
  -webkit-clip-path: inset(0 -100vmax);
  clip-path: inset(0 -100vmax);
  padding-bottom: 4em;

  .boton{margin: 2em auto;}

  .servicios_lista{
    width: 100%;
    font-size: 16px;
    display: grid;
    gap: 1em 2em;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 136px), 1fr));

    li{
      margin: 0;
      border-bottom: 1px solid var(--gris2);
      padding-bottom: 8px;
    }
  }
}

.cta{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 4em 0;
}

.about{
  h3{
    padding-top: 2em;
    max-width: 720px;
  }
  ul{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 280px), 1fr));

    li{
      margin: 0;
      padding-bottom: 12px;
      border-bottom: 1px solid var(--gris1);

      h4{
        font-family: var(--fuenteTexto);
      }

      div{
        display: flex;
        gap: 12px;
        align-items: start;
        padding-bottom: 4em;

        p{
          font-size: 16px;
        }
      }
    }
  }
}

.company_cards_container{
  display: grid;
  gap: 1em;

  .company_cards{
    position: relative;
    font-weight: 700;
    border-top: 2px solid var(--gris2);
    border-radius: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .number{
      position: absolute;
      top: -16px;
      left: -28px;
      color: var(--gris2);
      font-weight: 700;
    }
  } 
}